<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.goldsmith">

    <application
        android:name=".GoldsmithApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="true" />


        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>
        <!-- END OF FILE PROVIDER -->

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LaunchpadActivity" />
        <activity
            android:name=".activity.GoldsmithTaskRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.FamilyWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ChwProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.FamilyOtherMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:theme="@style/FamilyTheme.NoActionBar" />

        <activity
            android:name="org.smartregister.family.activity.FamilyWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activity.MyPerformanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="org.smartregister.tasking.activity.TaskingHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <service android:name=".sync.GoldsmithSettingsSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncLocationsByLevelAndTagsIntentService" />
        <service android:name="org.smartregister.sync.intent.DocumentConfigurationIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncChwPractitionersByIdAndRoleIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.tasking.sync.LocationTaskIntentService" />

        <activity android:name=".activity.AncHomeVisitActivity" />
        <activity android:name=".activity.PncHomeVisitActivity" />
    </application>

</manifest>